table {
  width: 100%;
  margin-bottom: 0;
  thead {
    th {
      padding-right: system-spacing() !important;
      &:last-child {
        padding-right:0 !important;
      }
    }
  }
  tr {
    th {
      border-bottom: system-border() !important;
      font-weight: 900;
    }
    td {
      padding:system-spacing();
      padding-left: 0;
      border-bottom: system-border() !important;
      white-space: nowrap;
      &:last-child {
        padding-right:0 !important;
      }
    }
    .expand {
      width: 2000px;
      text-align: right;
    }
    .system-comp {
      &__value {
        font-size: system-font-size(2xl);
        font-weight: 900;
      }
      &__date {
        font-size: system-font-size(xs);
      }
    }
    .system-avatar {
      margin-right: system-spacing(sm);
      display: inline-block;
      vertical-align: middle;
      background-size: cover;
      width: 50px;
      height: 50px;
      &__text {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &:nth-child(6n+1) {
      .system-avatar {
        background-image: url(asset-path('avatars/1.png'));
      }
    }
    &:nth-child(6n+2) {
      .system-avatar  {
        background-image: url(asset-path('avatars/2.png'));
      }
    }
    &:nth-child(6n+3) {
      .system-avatar  {
        background-image: url(asset-path('avatars/3.png'));
      }
    }
    &:nth-child(6n+4) {
      .system-avatar  {
        background-image: url(asset-path('avatars/4.png'));
      }
    }
    &:nth-child(6n+5) {
      .system-avatar  {
        background-image: url(asset-path('avatars/5.png'));
      }
    }
    &:nth-child(6n+6) {
      .system-avatar  {
        background-image: url(asset-path('avatars/6.png'));
      }
    }
  }
}