<div class="system-footer">
  <%= component "container" do %>
    <div class="system-footer__content">
      <div class="system-footer__left">
        <%= component "logo" %>
      </div>
      <div class="system-footer__body">
        <%= footer %>
      </div>
    </div>
  <% end %>
</div>