<div class="system-heading">
  <div class="system-heading__body">
    <h1 class="system-heading__title"><%= heading.title %></h1>
  </div>
  <div class="system-heading__actions">
    <%= heading %>
  </div>
</div>