.system {
  &-heading {
    padding: system-spacing() 0;
    display: flex;
    align-items: center;
    &__body {
      flex: 1;
      text-align: left;
    }
    &__title {
      font-size: system-font-size(4xl);
    }
  }
}