<p>
  <strong>Title:</strong>
  <%= @department.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @department.user %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
