.system {
  &-button {
    border-radius: system-border(radius);
    margin-bottom: 0;
    &--primary {
      background: $system-primary;
      border: none;
      color: #fff;
      &:hover {
        color: lighten($system-primary, 50%);
      }
    }
    &--secondary {
      background: #fff;
    }
    i {
      margin-right: system-spacing(2xs);
    }
  }
}