.system {
  &-button {
    &--primary {
      background: $system-primary;
      border: 1px solid $system-primary;
      color: #fff;
      margin-bottom: 0;
      &:hover {
        color: lighten($system-primary, 50%);
      }
    }
    &--secondary {
      background: system-color(gray, 100);
      border: 1px solid darken(system-color(gray, 100), 5%);
    }
    i {
      margin-right: system-spacing(2xs);
    }
  }
}