.system-pill {
  padding: 13px system-spacing(sm);
  border-radius: system-border(radius);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  white-space: nowrap;
  i {
    margin-right: system-spacing(sm);
    font-size: system-font-size(2xl);
  }
  &.active {
    color: $system-primary;
    background: lighten($system-primary, 53%);
  }
}