.system-overlay {
  flex: 1;
  height: 100%;
  background: system-color(gray, 700);
  padding: system-spacing(2xl);
  &__inner {
    border-radius: system-border(radius);
    background: #fff;
    height: 100%;
  }
}