.system {
  &-nav {
    display: flex;
    align-items: center;
    &__link {
      margin: 0 system-spacing(sm);
      padding: system-spacing() 0;
      color: system-color(gray,600);
      &:last-of-type {
        margin-right: 0;
      }
    }
    .active {
      color: system-color(gray,900);
      border-bottom: 2px solid $system-primary;
    }
  }
}