.system {
  &-nav {
    &__link {
      padding: system-spacing(xs) system-spacing(sm);
      color: system-color(gray,600);
      display: block;
      font-size: system-font-size(2xl);
    }
    .active {
      color: $system-primary;
      border-radius: system-border(radius);
      background: lighten($system-primary, 53%);
    }
  }
}