.system {
  &-nav {
    display: flex;
    align-items: center;
    padding: 0 system-spacing();
    &__link {
      margin: 0 system-spacing(sm);
      padding: system-spacing() 0;
      color: system-color(gray,600);
      &--active {
        color: system-color(gray,900);
        border-bottom: 2px solid system-color(teal,500);
      }
    }
  }
}