<div class="system-bar">
  <%= component "logo" %>
  <div class="system-bar__title"><%= bar.title %></div>
  <div class="system-bar__actions">
    <%= component "button", link: bar.cancel, type: "secondary" do %>
      Cancel
    <% end %>
    <%= bar %>
  </div>
</div>