.system-bar {
  padding: system-spacing();
  border-bottom: system-border(default);
  margin-bottom: system-spacing();
  display: flex;
  align-items: center;
  &__cancel {
    padding-right: system-spacing();
    margin-right: system-spacing();
    border-right: system-border(default);
  }
  &__title {
    flex-grow: 1;
  }
}